absl-py==0.7.1
argcomplete==1.9.5
asn1crypto==0.24.0
astor==0.7.1
boto==2.48.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
crcmod==1.7
cryptography==2.6.1
fasteners==0.14.1
flickrapi==2.4.0
gast==0.2.2
gcs-oauth2-boto-plugin==2.3
google-apitools==0.5.27
google-reauth==0.1.0
grpcio==1.20.1
h5py==2.9.0
httplib2==0.12.3
idna==2.8
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mock==2.0.0
monotonic==1.5
numpy==1.16.3
oauth2client==4.1.3
oauthlib==3.0.1
opencv-python==4.1.0.25
pbr==5.2.0
Pillow==6.0.0
pkg-resources==0.0.0
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pyOpenSSL==19.0.0
python-gflags==3.1.2
pyu2f==0.1.4
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
retry-decorator==1.1.0
rsa==4.0
scipy==1.2.1
six==1.12.0
SocksiPy-branch==1.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
urllib3==1.24.2
Werkzeug==0.15.2
